{% extends "base.html" %}

{% block content %}
<h1>Music App</h1>

<p><a class="btn-default" href="{% url 'new_album' %}">Add new album</a></p>



{% for album in albums %}
<a href="{% url 'view_album' pk=album.pk %}"><strong>{{ album.artist }}</strong></a><br>
<!-- <a href="{% url 'view_album' pk=album.pk %}">{{ album.title }}</a> -->
<a class="btn-default" href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
<a class="btn-default" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>


{% endfor %}


{% endblock %}