{% extends "base.html" %}

{% block content %}
<tittle>Music App</tittle>

<p><a class="button1" href="{% url 'new_album' %}">Add new album</a></p>




{% for album in albums %}
<div class="container">
    <a href="{% url 'view_album' pk=album.pk %}"><strong>{{ album.artist }}</strong></a><br>

    <a class="date">added on {{ album.created_at}}</a><br>
    <!-- <a href="{% url 'view_album' pk=album.pk %}">{{ album.title }}</a> -->
    <a class="button2" href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
    <a class="button3" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>

</div>
    {% endfor %}


{% endblock %}